﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        @RenderBody()
        @using(Html.BeginScriptContext())
        {
            Html.AddScriptFile("~/bundles/scripts/core");
        }
        @Html.RenderScripts(Scripts.Render)
        @RenderSection("Scripts", false)
    </body>
</html>